/*BACKGROUNG IMAGE CSS*/
.image {
    background: rgba(0, 0, 0, 0.7) url("./images/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-blend-mode: darken;
    display: grid;
    place-items: center;
    height: 100vh;
  }

/*content in that container*/
.W-content{
    display: grid;
    place-items: center;
    width: 300px;
    background-color: rgba(12, 245, 32, 0.685);
    padding: 0.5em;
    border-radius: 0.5em;
   /* background-color:rgba(0, 0, 0, 0.7); */
}

/*css for input fields*/
.W-input{
    width:250px;
    padding:10px;
    margin: 0.5em;
    border-radius: 5px;
    font-family:inherit;
    font-size: inherit;
    outline: none;
    border:1px solid rgb(111, 68, 212);
    box-shadow: 0 0 10px #8db4dd;
}

.W-input2{
    width:250px;
    padding:10px;
    margin: 0.5em;
    border-radius: 5px;
    font-family:inherit;
    font-size: inherit;
    outline: none;
    border:1px solid rgb(207, 9, 9);
    box-shadow: 0 0 10px #f30b0b;
}

.W-input:hover{
    border:1px solid rgb(77, 10, 231);
    box-shadow: 0 0 10px #1171d8;
}

/* css for title in that card*/
.W-bmi-title{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

/*css for buttons*/
.W-buttons{
    padding: 0.5em 2em 0.5em 2em;
    margin: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffff;
    background-color: rgba(49, 49, 235, 0.774);
    border-radius: 5px;
    border: none;
}

.W-buttons:hover{
    background-color: rgba(20, 20, 143, 0.774);
    cursor: pointer; 
    box-shadow: 0 0 10px rgba(20, 20, 143, 0.774);
}